:root {
    --header-color: rgb(69, 70, 85);
    --side-panel-color: rgb(47, 49, 65);
    --general-background-color: rgb(54, 56, 66);

    --border-color: rgb(54, 54, 54);
    --button-border-color: black;

    --text-color: white;
}
